@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --gray-dark: #4e5150;
  --gray-mid: #a9a9a9;
  --gray-bg: #e5e5e5;
  --gray-light: #bdbdbd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 900px;
  width: 100%;
  height: 100%;
  padding: 40px 15px;
  margin: 0 auto;
}

.profile {
  display: block;
  margin: 0 auto;
  width: 160px;
  border-radius: 16px;
  margin-bottom: 20px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.profile:hover {
  transform: scale(0.95);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.name {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray-dark);
  margin-bottom: 8px;
}

.location {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray-mid);
  margin-bottom: 25px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.count {
  width: 100px;
  padding: 15px;
  text-align: center;
  background-color: var(--gray-bg);
  border-radius: 12px;
  margin-right: 24px;
}

.count:last-child {
  margin-right: 0;
}

.number {
  font-size: 18px;
  line-height: 22px;
  color: var(--gray-dark);
  margin-bottom: 4px;
}

.text {
  font-size: 14px;
  line-height: 17px;
  color: var(--gray-light);
}

.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 35px;
  width: 100%;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.image-1 {
  background-image: url("photo1.png");
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.image-2 {
  grid-column: 2 / 4;
  background-image: url("photo2.png");
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.image-3 {
  grid-column: 1 / 3;
  background-image: url("photo3.png");
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.image-4 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-image: url("photo4.png");
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.image-5 {
  background-image: url("photo6.png");
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.image-6 {
  background-image: url("photo5.png");
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}

.fa-heart {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  z-index: 1;
}

.fa-share {
  color: #fff;
  font-size: 20px;
  z-index: 1;
}

.fa-heart,
.fa-share {
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.image-1:hover,
.image-2:hover,
.image-3:hover,
.image-4:hover,
.image-5:hover,
.image-6:hover {
  -webkit-filter: grayscale(200%);
  filter: grayscale(200%);
  transform: translateY(-5%);
}

.image-3:hover {
  transform: translateX(-5%);
}

.image-4:hover {
  transform: translateX(5%);
}

.image-5:hover,
.image-6:hover {
  transform: translateY(5%);
}

.image-1:hover .fa-heart,
.image-1:hover .fa-share,
.image-2:hover .fa-heart,
.image-2:hover .fa-share,
.image-3:hover .fa-heart,
.image-3:hover .fa-share,
.image-4:hover .fa-heart,
.image-4:hover .fa-share,
.image-5:hover .fa-heart,
.image-5:hover .fa-share,
.image-6:hover .fa-heart,
.image-6:hover .fa-share {
  visibility: initial;
}

.bottom {
  color: var(--gray-mid);
  text-align: center;
  margin-top: 40px;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #a9a9a9;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: var(--gray-dark);
}

@media screen and (max-width: 768px) {
  .grid {
    grid-gap: 20px;
    grid-template-rows: repeat(3, 200px);
  }
}

@media screen and (max-width: 520px) {
  .grid {
    grid-template-rows: repeat(3, 150px);
  }
  .profile {
    width: 100px;
    margin-bottom: 15px;
  }
  .name {
    font-size: 14px;
    line-height: 17px;
  }
  .location {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .count {
    margin-right: 12px;
  }
  .count:last-child {
    margin-right: 0;
  }
  .number,
  .text {
    font-size: 12px;
  }
  .number {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 394px) {
  .grid {
    grid-template-rows: repeat(3, 100px);
  }
}
